.body{
    background-color: #2980B9;
}

.main-header{
    text-align: center;
    background-color: #2980B9;
}

.selection-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.selection-btn{
    height: 32px;
    border: none;
    border-radius: 8px;  
    background-color: #3498DB;
    color: whitesmoke;
    padding: 5px 40px;
    font-size: 20px;
    border: 1px solid;
    cursor: pointer;
}


.LSegitiga-header, .KSegitiga-header ,.LjarGenjang-header, .KjarGenjang-header{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: cornflowerblue;

}

.LSegitiga-form-header, .KSegitiga-form-header, .LjarGenjang-form-header, .KjarGenjang-form-header {
    text-align: center;
    font-size: larger;
}

.LSegitiga-content, .KSegitiga-content, .LjarGenjang-content, .KjarGenjang-content{
    display: flex;
    flex-direction: column;
}

.LSegitiga-img-luas{
    height: 300px;
    width: 500px;
    background-image: url(/Asset/luas-segitiga.jpg); 
    background-size: cover;
    background-position: center;
    align-self: center;
    border: 1px solid;
    padding-top: 20px;
} 


.KSegitiga-img-keliling{
    height: 300px;
    width: 500px;
    background-image: url(/Asset/Keliling-segitiga.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
    border: 1px solid;
    padding-top: 20px;
} 


.LjarGenjang-img-luas{
    height: 300px;
    width: 350px;
    background-image:url(/Asset/Luas\ dan\ Keliling\ Jajar\ Genjang.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
    border: 1px solid;
}

.KjarGenjang-img-keliling{
    height: 300px;
    width: 350px;
    background-image:url(/Asset/Luas\ dan\ Keliling\ Jajar\ Genjang.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
    border: 1px solid;
}


.input-rumus{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-rumus>input{
    width: 65%;
}

input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.main-content{
    display: flex;
    background-color: #f1f1f1;
}

.main-content>aside{
    flex: 1;
}

  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: dashed;
    display: block;
    transition: 0.3 ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .dropdown a:hover {
    background-color: #2980B9;
  }
  
  .show {
    display: block;
}

@media only screen and (max-width: 800px) {
    .main-content{
        flex-direction: column;
    }
    
}