.body{
    background-color: #2980B9;
}

.main-header{
    text-align: center;
    background-color: #2980B9;
}

.selection-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.selection-btn{
    height: 32px;
    border: none;
    border-radius: 8px;  
    background-color: #3498DB;
    color: whitesmoke;
    padding: 5px 40px;
    font-size: 20px;
    border: 1px solid;
    cursor: pointer;
}

.box-atas{
    background-color: #2980B9;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: larger;    
}


.LSegitiga-header, .KSegitiga-header ,.LjarGenjang-header, .KjarGenjang-header, .ringkasanrumus-header{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: #2980B9;

}

.LSegitiga-form-header, .KSegitiga-form-header, .LjarGenjang-form-header, .KjarGenjang-form-header {
    text-align: center;
    font-size: larger;
    background-color: #2980B9;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.LSegitiga-content, .KSegitiga-content, .LjarGenjang-content, .KjarGenjang-content, .ringkasanrumus-content{
    display: flex;
    flex-direction: column;
}

.segitigaCard, .jarGenjangCard{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    color: #c7a900;
    justify-content: center;
    margin-left: 13px;
    margin-top: 12px;
}

.ringkasanrumusCard{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    width: 95%;
    color: wheat;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;

}

.segitigaCard img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    justify-content: center;
}

.jarGenjangCard img{
    width: 90%;
    height: 40%;
    border-radius: 10px;
    justify-content: center;
}

.ringkasanrumusCard-img{
    width: 90%;
    height: 40%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.segitigaCard h2, .jarGenjangCard h2, .ringkasanrumusCard h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: dimgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.segitigaCard p, .jarGenjangCard p {
    font-size: 1em;
    color: black;
    text-align: justify;
}

.ringkasanrumusCard p{
    justify-content: center;
    font-size: 1em;
    color: black;
}


.input-rumus{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-rumus>input{
    width: 65%;
}

input[type=number]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.main-content{
    display: flex;
    background-color: #f1f1f1;
}

.main-content>aside{
    flex: 1;
}

  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: dashed;
    display: block;
    transition: 0.3 ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .dropdown a:hover {
    background-color: #2980B9;
  }
  
  .show {
    display: block;
}


@media only screen and (max-width: 800px) {
    .main-content{
        flex-direction: column;
    }
    
}